
#cards {
    display: grid;
    gap: 10px;
    
}

section {
    background-color: #b9b9cc;
    
}

@media screen and (min-width:650px){
    #cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}