@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Oleo+Script&display=swap');

/* Elements */
html {
    max-width: 100%;
}
body {
    font-family: 'Bellefair';
    background-color: #E8E5DA;
}
img {
    width: 300px;
}
nav {
    display: none;
}
h1, h2, h3 {
    font-family: 'Oleo Script';
    text-align: center;
    font-size: 2em;
}
a {
    text-decoration: none;
}
footer {
    background-color: #304C89;
    color: white;
    width: 100%;
    font-size: 1.3em;
    margin-bottom: 20px;
}
footer a {
    background-color: #E8E5DA;
    padding: 5px;
    border-radius: 5px;
}


/* classes */

.card {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    justify-content: center;
}
.card p {
    font-size: 1.3em;
}
.card img {
    width: 100%;
    margin: 0 auto;
}
.discoverContent {
    background-color: #CDC392;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}
.discoverContent div {
    background-color: #E8E5DA;
    padding: 5px 10px 10px 10px;
    margin-top: 10px;
}
.discoverContent h2 {
    margin: 0;
}

.discoverContent img {
    display: block;
    margin: 0 auto;
}

.members {
    font-size: 1.5rem;
    margin: 20px 0;
    background-color: #9EB7E5;
    padding: 20px 0;
}
.members a:hover {
    color: #E8E5DA;

}
.members p {
    margin: 5px 0;
}

.compName {
    font-weight: bold;
}
button {
    margin-top: 20px;
    font-size: 1.5rem;
}

button.selectedBtn {
    background-color: #304C89;
    color:#E8E5DA;
}

.listViewMemberInfo {
    display: block;
    margin: 0;
}
.listViewMemberInfo img {
    display: none;
}

.listViewMember {
    display: block;
    text-align: left;
    padding: 10px 0 10px 10px
}

.cardViewMemberInfo  img {
    display: block;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #304C89;
    padding: 10px;

}
.forecastIcon {
    background-color: #cdc39280;
    padding: 3px;
    border-radius: 5px;
}
.dailyWeather {
    text-align: center;
    background-image: linear-gradient(to bottom, #f2f0e6, #ffffff);
    border-radius: 5px;
}
.dailyWeather img {
    width: 50px;
}

.banner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Add backdrop blur effect */
    z-index: 9999; /* Ensure the banner is displayed above other content */
  }
  
  .banner-content {
    font-size: 1.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f0e6;
    padding: 10px;
    text-align: center;
  }
  .bold {
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .banner p {
    margin: 0;
  }
  
  .banner button {
    margin-top: 10px;
  }

  .selectedMember {
    background-color: #CDC392;
    color: black;
    text-decoration: none;
    margin: 20px 0;
  }
  .selectedMember img {
    width: 100%;
    margin: 20px auto 0;
  }
  .adContent {
    font-size: 1.2rem;
    width: 80%;
    margin: 0 10% 20px;
  }
  .adCompName {
    margin: 15px 0;
  }
  

/* ids */

#spotlightMembers {
    display: grid;
    margin: 30px 0;
    
}
#weather-icon {
    
    padding: 0;
    border-radius: 5px;
    width: 50px;
}
#weather {
    width: 100%;
}
#forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#directoryMain {
    margin: 0 auto;
    text-align: center;
}

#lastModified {
    font-size: 12px;
}
#copy-footer {
    text-align: center;
}
#spotlight, #of-the-month {
    background-color: #9EB7E5;
    padding: 10px 0;
}
#spotlight img, #of-the-month img{
    width: 100%;
}
#grow, #weather {
    background-color: #CDC392;
    padding: 10px 0;
}

#grow > *, #spotlight > *, #weather > *, #of-the-month > * {
    width: calc(100% - 20px);
    margin: 0 auto; 
    padding: 10px 0;
}
#join {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 100px;
    font-family: 'Bellefair';
    font-size: 20px;
    transition: background-color 0.3s ease;
}
#join:hover {
    background-color: #9EB7E5;
}
#hero {
    width: 90%;
    padding: 2%;
    background-color: #304C89;
    margin: 0 3%;

}
#menu {
    font-size: 1.5rem;
    background-color: #304C89;
    width: 100%;
    text-align: left;
    
}
#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}
nav.open {
    display: grid;
    gap: 10px;
    background-color: #304C89;
    padding: 20px 0;
    width: 100%;
}
nav.open a {
    text-decoration: none;
    text-align: center;
    background-color: #9EB7E5;
    padding: 5px 0;
    width: 90%;
    margin: 0 auto;
    color: black;
    font-size: 1.5em;
    
}

#discoverMain {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 40px;
    width: 100%;
}
#timing {
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 1.5rem;
}
#thankyou {
    text-align: center;
    width: 80%;
    margin: 50px auto 100px;
    background-color: #9EB7E5;
    color: black;
    border-radius: 10px;
}
#thankyou h1 {
    padding: 10px;
}
#thankyou p {
    font-size: 2rem;
    padding: 10px;
}

.table-container {
    overflow-x: auto;

}
table {
    border-collapse: collapse;
    max-width: 100%;
    margin: 30px auto 0;
    font-size: 1.2rem;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #9EB7E5;
    color: black;
}
.data {
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    margin: 30px auto 0;
    font-size: 1.5rem;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

input[type="submit"] {
    width: auto;
    padding: 8px 16px;
}
.membership-level-options {
    margin-top: 10px;
}

.membership-level-options label {
    display: block;
    margin-bottom: 8px;
}
#description {
    margin-top: 10px;
}
form label input:required {
    border-left: red solid 4px;
}
form label input:required:valid {
    border-left: green solid 4px;
}
#submit {
    margin: 0 auto;
}
.radioInputs {
    margin: 20px 0 0;
    font-size: 1.5rem;
}
#gold {
    margin-bottom: 20px;
}



