@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Oleo+Script&display=swap');

@media(min-width: 650px) {
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: #304C89;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        
    }
    nav a {
        font-size: 2rem;
        text-decoration: none;
        color: black;
        background-color: #9EB7E5;
        margin: 15px;
        padding: 5px;
        width: 80%;
        border-radius: 4px;
    }
    nav a:hover {
        transform: scale(1.2);
    }
    footer div {
        padding-left: 100px;
    }
    #hero {
        width: 40%;
        padding: 10px;
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 20px;
    }

    #month, #spot {
    flex: 1;
    flex-basis: 50%;
    margin-right: 10px; /* Add margin to create the gap */
    }

    #spot {
    margin-right: 0; /* Remove margin on the last item */
    }
    
    
    .content {
        display:flex;
        gap: 50px;
        margin-left: 5%;
        margin-right: 5%;

    }
    #menu {
        display: none;
    }
    #welcome {
        font-size: 4rem;
    }
    #join {
        display: block;
        margin: 0 auto;
        height: 40px;
        width: 100px;
        font-family: 'Bellefair';
        font-size: 20px;
        transition: background-color 0.3s ease;
    }
    #join:hover {
        background-color: #9EB7E5;
    }
    #weather {
        padding-left: 100px;
    }
    #weather h3 {
        padding-right: 100px;
    }

    #discoverMain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 70%;
        margin: 0 auto;
    }
    .discoverContent {
        text-align: center;
        max-width: 400px;
        margin: 30px auto;
    }
    .discoverContent img {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .discoverContent h2 {
        width: 80%;
        margin: 0 auto;
    }
    .discoverContent p {
        font-size: 1.3rem;
        text-align: left;
    }
    .discoverContent:hover {
        color: #304C89;
    }
    #timing {
        margin: 20px 0;
        font-size: 2rem;
    }

}