@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&display=swap');

body {
    text-align: center;
    font-family: "Arvo";
}

h1{
    font-family: 'Bebas Neue';
}
nav {
    display: none;
}
iframe {
    height: 300px;
    margin-bottom: 20px;
}
#profile {
    width: 200px;
    border-radius: 10px;
    border: 20px solid #588157;
    
}

.activities a:hover {
    background-color: #a3b18abc;
    color: #F2F0E6;
}
.hero {
    position: relative;
    margin-top: 20px;
}
.herolabel {
    position: absolute;
    top: 30px;
	left: 30px;
	background: radial-gradient(#D0E2FE, #8994C5);
    opacity: 0.75;
}
main h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.card li{
    display: grid;
    text-align: left;
    background-color: #a3b18a;
    border-radius: 5px;
    
}
li a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-decoration: none;
    color: black;
}
.updateinfo {
    background-color: #588157;
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;
}
.updateinfo p {
    background-color: #a3b18a;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}
#lastModified {
    font-size: .8em;
}
footer {
    padding-top: 10px;
    padding-bottom: 10px;
}
#menu {
    font-size: 1.5rem;
    position: sticky;
    top: 10px;
    text-align: left;
    padding-right: 100%;
    background-color: #a3b18a;

}
#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

nav.open {
    display: grid;
    padding-top: 20px;
    padding-right: 5%;
    padding-left: 5%;
    background-color: #588157;
}
nav.open a {
    text-decoration: none;
        color:black;
        background-color: #a3b18a;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 5px;
        border-radius: 5px;
}
nav.open a:hover {
    background-color: #a3b18abc;
    color: #0000007d
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2rem;
	cursor: pointer;
    content: '☑️';
}
