@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&display=swap');

body {
    text-align: center;
    font-family: "Arvo";
}

h1{
    font-family: 'Bebas Neue';
}
nav {
    display: none;
}
ul {
    padding: 0;
    margin: 0 auto 30px;
}
iframe {
    height: 300px;
    margin-bottom: 20px;
}
#profile {
    width: 200px;
    border-radius: 10px;
    border: 20px solid #588157;
    
}
#weather-icon {
    background-color: #F2F0E6;
    padding: 3px;
    border-radius: 5px;
}

.activities a:hover {
    background-color: #a3b18abc;
    color: #F2F0E6;
}
.hero {
    position: relative;
    margin-top: 20px;
}
.herolabel {
    position: absolute;
    top: 30px;
	left: 30px;
	background: radial-gradient(#D0E2FE, #8994C5);
    opacity: 0.75;
}
main h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.card li{
    display: grid;
    text-align: left;
    background-color: #a3b18a;
    border-radius: 5px;
    
}
li a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-decoration: none;
    color: black;
}
.weeks p {
    text-align: left;
    padding: 10px
}
.weeks a {
    padding: 10px;
}
.updateinfo {
    background-color: #588157;
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;
}
.updateinfo p {
    background-color: #a3b18a;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}
#lastModified {
    font-size: .8em;
}
footer {
    padding-top: 10px;
    padding-bottom: 10px;
}
#menu {
    font-size: 1.5rem;
    position: sticky;
    z-index: 9999;
    top: 10px;
    text-align: left;
    width: 100%;
    background-color: #a3b18a;

}
#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

nav.open {
    display: grid;
    width: 100%;
    background-color: #588157;
    position: sticky;
    z-index: 9999;
    top: 40px;
    
}
nav.open a {
    text-decoration: none;
    text-align: center;
    color:black;
    background-color: #a3b18a;
    width: 80%;
    padding: 15px 0;
    margin: 7px auto;
    border-radius: 5px;
}
nav.open a:hover {
    background-color: #a3b18abc;
    color: #0000007d
}

#weatherInfo {
    background: radial-gradient(#a3b18a, #588157);
    opacity: 0.75;
    width: 70%;
    padding: 10px 0;
    border-radius: 5px;
    margin: 0 auto 20px;
}
#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2rem;
	cursor: pointer;
    content: '☑️';
}
